@charset "utf-8";

body {

  margin: 0;
}
header{
  background-color: #eee;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
header > img{
  border-radius: 50%;

}

header h1{
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

header > p{
  margin-top: 0;
}

main{
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

main > section > img{
  width: 400px;
  height: 240px;
  padding-top: 40px;
}

main h2, main p{
  font-weight: normal;
  text-align: left;
}

main > section{
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

footer{
  border-top: 1px solid #eee;
  padding: 64px;
  text-align: center;
}

footer small{
  color: lightgray;
}

footer img{
  width: 24px;
  height: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}

footer section{
  display: block;
}

footer a{
  text-decoration: none;
}


